
<div class="card">

   <!-- {%- if category == "D365FO" -%}-->
    <img class="card-img-top" src="../assets/img/categ/d365fo.png" alt="Card image" style="width:100%">
    <!-- {%- endif -%}-->

    {%- if category == "Francophonie" -%}
    <img class="card-img-top" src="../assets/img/categ/francophonie.jpg" alt="Card image" style="width:100%">
    {%- endif -%}

    <div class="card-body">
        <h6>{{ category[0].tag | escape }}</h6>
    </div>
    <div class="post-date"><i class="icon-calendar"></i>{{ category.date | date: date_format }}</div>
    <a href="{{ post.url | relative_url }}" class="stretched-link"></a>
</div>