<!DOCTYPE html>
<html lang="en">
<head>
    {%- include head.html -%}
</head>
<body>
    <div class="container">      
      <br>
      <div class="card" style="width:100%">
          <img class="card-img-top" src="/{{ post.thumbnail }}"  alt="Card image" style="width:100%">  
        <div class="card-body">
          <h4 class="card-title">{{ post.title | escape }}</h4>
          <p class="card-text">Some example text some example text.</p>            
        </div>
        <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div> 
        <a href="{{ post.url | relative_url }}" class="stretched-link"></a>   
      </div>
     </div>
</body>
</html>



