<!DOCTYPE html>
<html lang="en">
<head>
    {%- include head.html -%}
</head>
<body>
    <div class="container">      
      <div class="card" style="width:400px">
          <img class="card-img-top" src="/{{ post.thumbnail }}"  alt="Card image" style="width:100%">  
        <div class="card-body">
          <h4 class="card-title">{{ post.title | escape }}</h4>
          <p class="card-text">{{ post.summary | escape }}</p>            
        </div>
        <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div> 
        <a href="{{ post.url | relative_url }}" class="stretched-link"></a>   
      </div>
     </div>
     <br>
</body>
</html>



