<div class="card">
    {% if category[0] == "Dynamics 365 FO" %}
    <img class="card-img-top" src="../assets/img/categ/d365fo.png" alt="Card image" style="width:100%">
    {% endif %}

    {% if category[0] == "Francophonie" %}
    <img class="card-img-top" src="../assets/img/categ/francophonie.jpg" alt="Card image" style="width:100%">
    {% endif %}

    {% if category[0] == "Web-development" %}
    <img class="card-img-top" src="../assets/img/categ/francophonie.jpg" alt="Card image" style="width:100%">
    {% endif %}

    <div class="card-body">
        <h6>{{ category[0] }}</h6>
    </div>
    
    <a href="{{ post.url | relative_url }}" class="stretched-link"></a>
</div>