<!DOCTYPE html>
<html lang="en">

<head>
	{%- include head.html -%}
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">HF</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Hobbies</a>
				</li>								
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>

			  <!--
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="https://hilquiasferreira.github.io/">Home</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Professional</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Family</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Blog</a>
				</li>
			</ul>
		</div>
		<form class="form-inline" action="/action_page.php">
			<input class="form-control mr-sm-2" type="text" placeholder="Search">
			<button class="btn btn-success" type="submit">Search</button>
		</form>
	</nav>
	-->

	{{ content }}

	<div class="jumbotron text-center" style="margin-bottom:0">		
		<!--Linkedin-->
		<a class="fa fa-linkedin" href="https://linkedin.com/{{ site.plainwhite.social_links.linkedIn }}"></a>
		<!--Twitter-->
		<a class="fa fa-twitter" href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}"></a>
		<!--Github-->
		<a class="fa fa-github" href="https://github.com/{{ site.plainwhite.social_links.github }}"></a>		
	</div>

</body>

</html>