---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="container" style="margin-top:30px">
  <div class="row">    
    <div class="col-sm-12">
      <div class="container">
        <div class="card" style="width:100%; margin-bottom: 10pt;">
          <h4 class="card-title" style="margin-top: 10pt; margin-bottom: 10pt">{{ page.title | escape }}</h4>
          <img class="post-image" src="/{{ page.thumbnail }}" alt="{{ page.title | scape}}">
          <p class="card-text">
            {{ page.imageauthor }}
          </p>
          <div class="card-body">
            <div class="container">
              {%- for tag in page.categories -%}
              <span class="badge badge-pill badge-secondary">{{ tag }}</span>
              {%- endfor -%}
            </div>
            <p class="card-text">

              {{content}}

            </p>
          </div>
          <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
        </div>
      </div>
    </div>
  </div>
</div>