---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col">
      <h2>{{ page.title | escape }}</h2>

      <ul class="post-categories">
        {%- for tag in page.categories -%}
        <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>

      <h5>{{ page.date | date: date_format }}</h5>
      <div class="fakeimg">
        <img src="/{{ page.thumbnail }}" class="img-fluid" alt="Responsive image">        
      </div>
      <p>How to speak french every day in Malta</p>
      <p>

        {{ content }}

      </p>
      <br>
    </div>
  </div>
</div>
<!--
{%- if site.plainwhite.disqus_shortname -%}
<div id="disqus_thread" style="margin-top:25px"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };
  (function () {
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
    powered by Disqus.</a></noscript>
</div>
{%- endif -%}
-->