---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-12">
      <h3>{{ page.title | escape }}</h4>
      <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
      <img src="/{{ page.thumbnail }}" alt="{{ page.title | scape}}">
      <p>
        {{ page.imageauthor }}
      </p>      
        <div class="container">
          {%- for tag in page.categories -%}
          <span class="badge badge-pill badge-secondary">{{ tag }}</span>
          {%- endfor -%}

          <p>

          {{content}}

        </p>        
      </div>
    </div>
  </div>
</div>